@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
.containner {
	width: 100%;
}

.imgp{
margin-left: 92%;
margin-top: -5%;
margin-bottom: 5px;
max-width: 100%;
max-height: 100%;
}

.objects{
	margin-left: 33%;
	margin-top: 1%;
}

.hrefs{
	text-decoration: none;
	color: #FFFFF6;
	border-radius: 20%;
	font-size: 35px;
}

.hrefs1{
	text-decoration: none;
	color: green;
	border-radius: 20%;
	font-size: 35px;
}

.nav{
background-color: lightgreen;
border-bottom-left-radius: 20%;
border-bottom-right-radius: 20%;
}


.usersel{
	user-select: all;
	padding-left: 1%;
}

.x1b0d499xuo83w3{
	margin-left 	: 1%;
}

.ps{
	font-weight: 300;
	color: #FFFFF6;
	
}
 
.map{
	margin-left: 70%;

}

.first{
	font-weight: lighter;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	margin: 0;
    padding: 0;
	min-width: 320px;
	max-width: 100%;
    overflow-x: hidden;
    justify-content: center;
    background-image: url(IMG/images.jpg);
    user-select: none;
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	height: auto;
}

body *,
body *:before,
body *:after {
	box-sizing: border-box;
}

.social{
	margin-left: 0%;
    margin-top: 44em;
    width: 127%;
    max-height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px
}

  .social__icon{
	text-decoration: none;
	display:flex;
	align-items:center;
	justify-content:center;
	width: 70px;
	height: 70px;
	margin: 10px;
	background-color: #f2f2f2;
	border-radius: 50%;
	box-shadow: 0px 0px 5px #00000080;
	transition: all 0.3s ease;
	position: relative;
	overflow:hidden;
  }
  
  .social__icon i {
	font-size: 26px;
	color: #67798e;
	transition: all 0.3s ease;
	z-index: 1;
  }
  
  .social__icon:after{
	content: "";
	width: 70px;
	height: 70px;
	position:absolute;
	transform: translate(0, 70px);
	border-radius: 50%;
	transition: all 0.3s ease;
  }

  .social__icon.instagram:after{
	background-color: #833AB4;
  }
  .social__icon.facebook:after{
	background-color: #3b5998;
  }

  
  .social__icon:hover {
	transform: translateY(-4px);
	box-shadow: 0px 0px 15px #00000080;
  }
  
  .social__icon:hover i{
	 color: #fff;
  }
  
  .social__icon:hover:after{
	transform: translate(0);
  }

  .social__icon:hover {
	transform: translateY(-4px);
	box-shadow: 0px 0px 15px #00000080;
  }
  
  .social__icon:hover i{
	 color: #fff;
  }
  
  .social__icon:hover:after{
	transform: translate(0);
  }
