@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body{
	background-image: url(IMG/images.jpg)
}

.dasyntac{
    font-weight: lighter;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
}

.dasyntaci_payamanner{
	justify-content: center;
	background-color: #6cd875;
	margin-top: 4%;
}

.imgp{
	margin-left: 15%;
	margin-top: 0%;
	margin-bottom: 5px;
	max-width: 100%;
	max-height: 100%;
	}
	
	.objects{
		margin-left: 33%;
		margin-top: 1%;
	}
	
	.hrefs{
		text-decoration: none;
		color: #FFFFF6;
		border-radius: 20%;
		font-size: 35px;
	}
	
	.hrefs1{
		text-decoration: none;
		color: green;
		border-radius: 20%;
		font-size: 35px;
	}
	
	.nav{
	background-color: lightgreen;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
	}

	.first{
		font-weight: lighter;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	
/* social icon */
.usersel{
	user-select: all;
	margin-left: 10px;
}

.x1b0d499xuo83w3{
	margin-left: 10px;
}

.social{
	margin-left: 0%;
    margin-top: 44em;
    width: 136%;
    max-height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px
}

  .social__icon{
	text-decoration: none;
	display:flex;
	align-items:center;
	justify-content:center;
	width: 70px;
	height: 70px;
	margin: 10px;
	background-color: #f2f2f2;
	border-radius: 50%;
	box-shadow: 0px 0px 5px #00000080;
	transition: all 0.3s ease;
	position: relative;
	overflow:hidden;
  }
  
  .social__icon i {
	font-size: 26px;
	color: #67798e;
	transition: all 0.3s ease;
	z-index: 1;
  }
  
  .social__icon:after{
	content: "";
	width: 70px;
	height: 70px;
	position:absolute;
	transform: translate(0, 70px);
	border-radius: 50%;
	transition: all 0.3s ease;
  }

  .social__icon.instagram:after{
	background-color: #833AB4;
  }
  .social__icon.facebook:after{
	background-color: #3b5998;
  }

  
  .social__icon:hover {
	transform: translateY(-4px);
	box-shadow: 0px 0px 15px #00000080;
  }
  
  .social__icon:hover i{
	 color: #fff;
  }
  
  .social__icon:hover:after{
	transform: translate(0);
  }

  .social__icon:hover {
	transform: translateY(-4px);
	box-shadow: 0px 0px 15px #00000080;
  }
  
  .social__icon:hover i{
	 color: #fff;
  }
  
  .social__icon:hover:after{
	transform: translate(0);
  }
  /* social icon */
  
  /* main */
  .content{
    margin-top: 20%;
    margin-left: 15em;
    background-color: lightgreen;
    border-radius: 20%;
    font-size: 25px;
    width: 80%;
    text-align: center;
}

:root {
	--green: #029416;
	--dark: #2f313a;
	--deg: -86deg;
	--trans: all 0.4s ease 0s;
    --white: #fff;
}

body {
	max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    font-family: "Lato", Arial, Helvetica, serif;
    background-image: url(IMG/images.jpg);
    font-size: 1em;
    user-select: none
}

body *,
body *:before,
body *:after {
	box-sizing: border-box;
}

h2 {
	text-align: center;
}

.team {
	padding: 2em 0 2em 2.5em;
	margin: 0;
}

.member {
	margin: 1.5em 0 0.5em;
	padding: 0.73em;
	background: linear-gradient(
		83deg,
		var(--green) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
	position: relative;
	list-style: none;
	display: inline-block;
	transform: scale(0.85);
	transition: var(--trans);
}

.member:nth-of-type(even) {
	text-align: right;
	background: linear-gradient(
		-83deg,
		var(--green) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
}

.thumb {
	width: 13vmin;
	height: 13vmin;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		var(--deg),
		var(--dark) 0 70%,
		var(--green) 0% 100%
	);
	transform: rotate(-4deg);
	transition: var(--trans);
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}

.member:nth-of-type(even) .thumb {
	--deg: 86deg;
	float: right;
	margin-left: 2em;
	margin-right: -3em;
	transform: rotate(4deg);
}

.thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: var(--dark);
}

.member:hover {
	transform: scale(1);
	transition: var(--trans);
	filter: drop-shadow(0px 20px 10px #0008);
}

.member:hover .thumb {
	padding: 0.1em;
	transition: var(--trans);
	transform: rotate(-1deg);
	--deg: -89deg;
}

.member:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.member:hover .thumb img {
	filter: none;
	transition: var(--trans);
}

.description {
	padding-top: 1vmin;
}

.description p {
	padding: 0 2em;
	margin-bottom: 1em;
}

h3 {
	background: linear-gradient(182deg, #fff0 60%, var(--dark) 0 100%);
	display: inline;
	transform: rotate(-2deg);
	position: absolute;
	margin: 0;
	margin-top: -2.25em;
	left: 9vmin;
	padding: 0.5em 0.75em;
	color: var(--green);
	border-radius: 0.25em;
	font-size: 1.35em;
	transform-origin: left bottom;
}

.member:nth-of-type(even) h3 {
	left: inherit;
	right: 9vmin;
	transform: rotate(2deg);
	transform-origin: right bottom;
	background: linear-gradient(-182deg, #fff0 60%, var(--dark) 0 100%);
}

.member:hover h3 {
	transition: var(--trans);
	transform: rotate(0deg);
	background: linear-gradient(180deg, #fff0 59%, var(--dark) 0 100%);
}

.co-founder:after {
	content: "Անգլերեն";
	font-size: 1em;
	position: absolute;
	top: -1.5em;
	background: var(--green);
	right: 4em;
	transform: rotate(3deg);
	padding: 0.35em 0.75em 0.5em;
	border-radius: 0.25em;
	color: var(--dark);
	font-weight: bold;
}

.co-founder:nth-of-type(even):after {
	right: inherit;
	left: 4em;
	transform: rotate(-3deg);
}

.description p a {
	display: inline-block;
	margin: 0.5em 0 0 0;
	background: var(--dark);
	color: var(--green);
	padding: 0.1em 0.5em 0.35em;
	border-radius: 0.5em;
	text-decoration: none;
	transition: var(--trans);
}
.description p a:hover {
	transition: var(--trans);
	color: var(--dark);
	background: var(--green);
	font-weight: bold;
}

.description p a img {
	float: left;
	width: 22px;
	filter: invert(1);
	border-radius: 0.15em;
	padding: 2px;
	background: #fff;
	margin-right: 2px;
}
  /* main */
